### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### Python virtual environment ###
.venv
.pytest_cache
tests/report
report
result
logs
src/frontend/dist
src/frontend/node_modules
src/frontend/package-lock.json
*__pycache__
*.png
poetry.lock

### VScode settings ###
.vscode