### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.html

### Python virtual environment ###
.venv
.pytest_cache
tests/report
report
result
logs
src/frontend/dist
src/frontend/node_modules
*__pycache__
.env
*.env
*.png
poetry.lock

### VScode settings ###
.vscode